html {
    height: 100%;
    width: 100%;
    padding: 0;
    font: 11pt Helvetica;
}
body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    width: 100%;
    min-height: calc(100% - 20px);
    background: lightgray;
}
h1 {
    text-align: center;
    font: small-caps 30pt Helvetica;
}
.rows {
    display: flex;
    flex-direction: column;
}
.season {
    margin-bottom: 10px;
}
.season__title {
    background-image: linear-gradient(to right, white, transparent);
    border-radius: 10px;
    font-size: 20pt;
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;
}
.flex-padding10 {
    margin: 10px;
}
.season__content {
    background: rgba(0, 0, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.entry {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.branch {
    color: white;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
}
.entry:hover {
    transform: translate(-1px, -1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.entry::after {
    content: '';
    width: 0;
    height: 0;
    border-right: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin: 15px 0 15px 40px;
    visibility: hidden;
}
.entry:hover::after {
    visibility: visible;
    transform: translate(-35px);
    transition: all 200ms ease-in-out;
}
.HTX {
    background: rgb(47, 47, 138);
}
.HFe {
    background: darkgray;
}
.HF {
    background: rgb(41, 143, 41);
}
.EXP {
    background: lightgray;
    border: 2px solid darkgreen;
    color: darkgreen;
}
.STX {
    background: rgb(255, 105, 105);
}
.HHX {
    background: rgb(54, 54, 255);
}
.IBB {
    background: white;
    border: 2px solid blue;
    color: blue;
}
.EUD, .EUX {
    background: lightgray;
    border: 2px solid darkblue;
    color: darkblue;
}
.SRP {
    background: white;
    border: 2px solid black;
    color: black;
}
.subject-and-level {
    display: flex;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10px;
}
.subject {
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    padding: 5px;
}
.level {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}
.participants, .content, .comment {
    box-sizing: border-box;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}
.content {
    font-size: 9pt;
    color: lightgray;
}
.comment {
    font-size: 9pt;
    color: rgba(255, 255, 255, 0.4);
}

.header {
    position: sticky;
    background: gray;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
}
#person-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 70px;
    font-size: 10pt;
    border-radius: 20px;
    background: white;
    transform: scale(0);
    transition: 200ms ease-in-out;
    transform-origin: 90% 0%;
}
#person-info.active {
    transform: scale(1);
    transition: 200ms ease-in-out;
}
#page-title, #page-short-title {
    position: fixed;
    font: small-caps 30pt Helvetica;
    left: 50%;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
}
#page-short-title {
    visibility: hidden;
}
#person-img {
    position: relative;
    padding: 10px;
}
#person-img::after {
    position: absolute;
    content: '#';
    color: lightblue;
    text-shadow: 2px 2px 8px blue;
    right: 15%;
    bottom: 15%;
    display: block;
}
#cv-photo {
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;
}
#stack-exchange-flair {
    border-radius: 10px;
}
#stack-exchange-flair-img {
    border-radius: 10px;
}
#contact-info {
    display: flex;
    align-items: center;
    margin: 10px;
}
a:link, a:visited {
    text-decoration: none;
    color: gray;
}
a:hover {
    cursor: pointer;
    border: 1px solid blue;
}
#phone, #mail {
    padding: 5px;
    white-space: nowrap;
    border-radius: 10px 0 0 10px;
    background: black;
    color: white;
    box-sizing: border-box;
}
#mail {
    border-radius: 0 10px 10px 0;
    background: lightgray;
    color: black;
}
#name, #birthday, #address {
    box-sizing: border-box;
    padding-bottom: 1px;
    padding-left: 5px;
}
#math-intro {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 14pt;
    text-shadow: 0 0 5px white;
}
.left-aligned {
    margin-left: 50px;
}
.right-aligned {
    margin-right: 50px;
}

@media (max-width: 900px) {
    #page-title {
        visibility: hidden;
    }
    #page-short-title {
        visibility: visible;
        font-size: 4vw;
    }
    .left-aligned {
        margin-left: 10px;
    }
    .right-aligned {
        margin-right: 10px;
    }
    #stack-exchange-flair-img {
        width: 30vw;
        height: 8.2vw;
        max-width: 175px;
        max-height: 50px;
        border-radius: 1vw;
    }
}